apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ sealed_secret_custom_cert_secretname }}
  namespace: {{ sealed_secret_namespace }}
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
data:
  tls.crt: {{ sealed_secrets_public_key | b64encode }}
  tls.key: {{ sealed_secrets_private_key| b64encode }}