apiVersion: v1
kind: Secret
metadata:
{% if manage_intial_secrets_with_sealedsecrets == True %}
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
{% endif %}
  name: "{{ item.name }}"
  namespace: argocd
data:
  {{ item.key }}: {{ item.value | b64encode }}
type: Opaque